header{
    float: left;
    margin: 50px;
}

h1 {
   margin: 50px 0;
   font-weight: normal;
   font-size: 1.75em;
   line-height: 0.8em;
}

/* NAVIGATION */
nav ul {
   list-style: none;
   margin: 0 10px;
   padding: 0;
}

nav li {
   display: inline-block;
}

nav a {
   font-weight: 800;
   padding: 10px 10px 10px 10px;
}

/* FOOTER */
footer {
   font-size: 0.75em;
   text-align: center;
   padding-top: 50px;
   clear: both;
}

/* Colors */
header {
   background-color: #6ab47b; /* Green */
   color: #000000 /* Black */
   text-decoration: none;
}

h1, h2 {
    background: #6ab47b;  /* Green */
    color: #000000;
}

body {
   background-color: #6ab47b;  /* Green */
   color: #000000;
}

a {
   color: blue;
}

nav a, a:visited {
   color: purple;
}

nav a:selected, a:hovor {
   color: blue;
}
